# Node
node_modules/
npm-debug.log

# Build
dist/
build/

# Cache
.cache/
.parcel-cache/

# React
frontend/node_modules/
frontend/build/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Java
target/
*.class

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
